{
    "env": {
        "node"                  : true
    },

    "rules": {
        "no-underscore-dangle"  : 0,
        "curly"                 : 0,
        "no-labels"             : 0,
        "no-use-before-define"  : 0,
        "no-proto"              : 0,
        "no-shadow"             : 0,
        "dot-notation"          : 0,
        "eol-last"              : 0
    }
}
